<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN5w82G4mHmvsTp7z-hQOWA_oxjIi_Z2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>29716291623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odds-app</string>
	<key>PROJECT_ID</key>
	<string>odds-app-edge</string>
	<key>STORAGE_BUCKET</key>
	<string>odds-app-edge.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29716291623:ios:db18d314a1c5c9f54fae02</string>
</dict>
</plist>